In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import random
import fnmatch
import re
import datetime
import matplotlib
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import TimeoutException

# Get data from holistics and previous dataset

In [16]:
df = pd.read_csv("selenium dataset/B2Bitems1janto20march.csv", dtype='unicode')
df.drop_duplicates(subset ="item_name", keep = "first", inplace=True)

from holistics import HolisticsAPI
obj = HolisticsAPI(api_key = '53f+vEdkf1fUf/PUgXYd1RAHX+QPqQXY3LAvzT8eGpw=', url = 'https://secure.holistics.io')
moredf = obj.export_data(report_id='95558', filters={"Created Datetime":'2020-03-20 - 2020-04-19'})

Submitting export request... Success
Getting export results... Success
Downloading results... Export to file successed!

In [18]:
df_index = df.set_index(['item_name']).index
moredf_index = moredf.set_index(['item_name']).index
mask = ~moredf_index.isin(df_index)
result = moredf.loc[mask]
result

,package_id,package_tracking_number,number_of_status,no_of_trip,tlo_status,tlo_status_description,latest_status_time,package_created_datetime,assign_datetime,inbound_datetime,...,merchant_city,customer_name,signature_name,customer_address,customer_phone,customer_state,customer_city,cost_type,cost_status,latest_cost_id
0,1290945,TLMK000000227791,7,2,package_delivery_succeed,Package delivery success,2020-04-16 17:01:04,2020-04-13 00:00:06,2020-04-14 14:12:46,2020-04-15 09:27:24,...,Simpang Ampat,Yuva Arivalagan,yuva,"11, Jalan Mawar 1/Kw 4, Taman Raja Uda, 42000,...",0162176682,Selangor,Pelabuhan Klang,last_mile,completed,1697500
1,1290946,TLMK000000227792,7,2,package_delivery_succeed,Package delivery success,2020-04-18 13:38:58,2020-04-13 00:00:32,2020-04-15 09:03:18,2020-04-16 12:19:32,...,Shah Alam,syarkilawati binti mohd hussain,syar,"lot 2230 lorong haji manan,kg delek kiri,41250...",0183781014,Selangor,Klang,last_mile,completed,1701298
2,1290947,LAZM9001723639,1,1,package_ready_to_be_pickup,Package pending to be assigned,2020-04-13 00:04:01,2020-04-13 00:04:00,NaN,NaN,...,Kuala Lumpur,KL,NaN,"Tier1A, 50450, Kuala Lumpur, Wp Kuala Lumpur",01110519217,Wp Kuala Lumpur,Kuala Lumpur,first-mile,new,1680374
3,1290948,TLMK000000227059,7,2,package_delivery_succeed,Package delivery success,2020-04-17 16:18:09,2020-04-13 00:07:36,2020-04-16 14:48:18,2020-04-17 09:37:29,...,Sungai Buloh,Surendran,surendran,"No.42A, Lorong Batu Nilam 32A, Bandar Bukit Ti...",0136839119,Selangor,Klang,last_mile,completed,1704198
4,1290949,TLMK000000227794,11,3,package_delivery_succeed,Package delivery success,2020-04-17 11:52:50,2020-04-13 00:14:22,2020-04-14 14:00:21,2020-04-14 18:30:12,...,Taiping,MOHD SUHAIRUL SHUAID,Mohd suhairul \n,"JUARA MART MINIMARKET , NO 98 JALAN MAYANG PAS...",01112412561,Penang,Bayan Lepas,last_mile,completed,1702263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20007,1311107,TLMK000000239321,1,1,package_ready_to_be_pickup,Package pending to be assigned,2020-04-20 13:58:33,2020-04-20 13:58:33,NaN,NaN,...,Telok Panglima Garang,MOHD HAIRIL BIN BAHAROM,NaN,"NO.6 , JALAN BS 23 , TAMAN BERTAM SETIA, 76450...",1119914411,Melaka,Melaka,first-mile,new,1718486
20009,1311109,NLMY000004058484,1,1,package_ready_to_be_pickup,Package pending to be assigned,2020-04-20 13:58:33,2020-04-20 13:58:33,NaN,NaN,...,Telok Panglima Garang,Raja Ahmad Shukri bin Raja Mohd Kamil,NaN,"47 Lorong Tasek Timur 4,Taman Seri Dermawan, 3...",195653942,Perak,Ipoh,first-mile,new,1718488
20013,1311113,TLMK000000239186,1,1,package_ready_to_be_pickup,Package pending to be assigned,2020-04-20 13:58:34,2020-04-20 13:58:34,NaN,NaN,...,Telok Panglima Garang,subramaniam,NaN,"pt 1596 taman mutiara batang benar, 71700, Man...",166892814,Negeri Sembilan,Mantin,first-mile,new,1718492
20016,1311116,NLMY000004058664,1,1,package_ready_to_be_pickup,Package pending to be assigned,2020-04-20 13:58:35,2020-04-20 13:58:35,NaN,NaN,...,Telok Panglima Garang,Muhamad Fazril Bin Safarrudin,NaN,"2-B, Jalan Bernama, Felda Bukit Besar, 81450 K...",137091365,Johor,Kulai,first-mile,new,1718495
20017,1311117,TLMK000000240004,1,1,package_ready_to_be_pickup,Package pending to be assigned,2020-04-20 13:58:49,2020-04-20 13:58:49,NaN,NaN,...,Seri Kembangan,tan Hong hong,NaN,"c-8-20, PPR laksama off jalan peel, 55100, Kua...",166531453,Wp Kuala Lumpur,Kuala Lumpur,last-mile,new,1718496

In [10]:
# Sample workingd
# a = pd.DataFrame({0:['ayam','itik','kambing']})
# b = pd.DataFrame({0:['ayam','monyet','zirafah','rusa']})

# a_index = a.set_index([0]).index
# b_index = b.set_index([0]).index
# mask = ~b_index.isin(a_index)
# result = b.loc[mask]
# print(result)

         0
1   monyet
2  zirafah
3     rusa

In [23]:
df = result
df.sort_values("item_name", inplace = True) 
df.drop_duplicates(subset ="item_name", keep = "first", inplace=True)
item_name = np.array(df[["item_name"]])
itemlist = pd.DataFrame()

browser = webdriver.Chrome(executable_path=r"C:\WebDriver\bin\chromedriver.exe")
browser.get("https://www.lazada.com.my")
failelement = 0
for each in item_name[:5175]:
    try:
        element = browser.find_element_by_id("q")
        element.send_keys(str(each))
        element.send_keys(Keys.RETURN)
        time.sleep(random.randint(3,5))
        element = WebDriverWait(browser,20).until(EC.element_to_be_clickable((By.CLASS_NAME,"cRjKsc"))).click()
#         name = browser.find_element_by_xpath('.//div[@class="c2prKC"]')
#         item = name.find_element_by_xpath('.//a')
#         item.click()
#     sleep time | waiting time
        categoryElement = browser.find_element_by_xpath('.//a[@class="pdp-link pdp-link_size_s pdp-link_theme_blue pdp-product-brand__suggestion-link"]')
        categoryText = categoryElement.text
        a, b = categoryText.find('More'), categoryText.find('from')
        categoryText = categoryText[a+4:b]
        newitem = pd.DataFrame(data={'item_name' : each, 'item_category' : categoryText})
        itemlist = itemlist.append(newitem)
        itemlist = itemlist.reset_index(drop=True)
    except NoSuchElementException as exception:
        browser.get("https://www.lazada.com.my")
        failelement = failelement + 1
        continue
    except StaleElementReferenceException as exception:
        browser.get("https://www.lazada.com.my")
        failelement = failelement + 1
        continue
    except TimeoutException as exception:
        browser.get("https://www.lazada.com.my")
        failelement = failelement + 1
        continue
    except:
        itemlist.to_csv (r'C:\Users\TheLorry\Documents\Python Scripts\selenium dataset\result\moreresult2.csv', index = False, header=True)
browser.close()
itemlist.to_csv (r'C:\Users\TheLorry\Documents\Python Scripts\selenium dataset\result\moreresult2.csv', index = False, header=True)

# for item in containers:
#     name = item.find_element_by_xpath('.//div[@class="name"]')
#     surname = name.find_element_by_xpath('./following-sibling::div')
#     image = surname.find_element_by_xpath('./following::img')
#     print(name.text, surname.text, image.get_attribute('src'))

C:\Users\TheLorry\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\TheLorry\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [20]:
failelement

66

In [ ]:
print("test")

In [34]:
each

array(['Proton Exora CPS / BOLD All Model Rear Bonnet Damper Gas Spring Rear Boot Absorber (1Car ; 2Pieces)'],
      dtype=object)

In [24]:
df = pd.read_csv(r"C:\Users\TheLorry\Documents\Python Scripts\selenium dataset\resultcopy\combined.csv", dtype='unicode')
item = df.groupby(['assumed_category']).count()
item = item.sort_values(by=['item_name'], ascending=False)
item

                  item_name  item_category
assumed_category
 Automotive            1442           1442
 Electronics             49             49
 Furniture             1184           1184
 Outdoor                  2              2
Electronics             417            417
Kitchenware             434            434
Others                 2230           2230
Outdoor                 243            243

# Pre - Processing

In [27]:
df

,item_name,item_category,assumed_category
0,Rimtronics Cosplay Naruto Shippuden Hokage Shi...,Action Figures & Collectibles,Others
1,Rimtronics One Piece Roronoa Zoro Santoryu Cos...,Action Figures & Collectibles,Others
2,TENA Slip Super Adult Diapers (M Size 6 X 10's),Adult Diapers & Incontinence,Others
3,AMBI PUR Room Fresh Air Refreshing Relaxing L...,Air Care,Others
4,AMBI PUR Room Fresh Gel Fresh Air Refreshing G...,Air Care,Others
...,...,...,...
5996,Outdoor Cartoon Seesaw Kindergarten Baby Kids ...,Toy & Games,Others
5997,NaVa 100CM Red Heart Love Shirt Teddy Bear Pil...,Toy & Games,Others
5998,Hiboy Cue Snooker Cue Billiard 2-piece 145cm ...,Toy & Games,Others
5999,JHP Billiard Pool Cue 13mm 145cm Two Piece Poo...,Toy & Games,Others
6000,KD Snooker Cue Billiard 2-piece 145cm + Rest E...,Toy & Games,Others

In [22]:
import nltk
from nltk.stem import WordNetLemmatizer 
nltk.download('wordnet')

def preprocess(text):
    clean_data = []
    for x in (text[:][0]): #this is Df_pd for Df_np (text[:])
        new_text = re.sub(r'[^\w\s]', '', new_text) # remove punc.
        new_text = re.sub(r'\d+','',new_text)# remove numbers
        new_text = new_text.lower() # lower case, .upper() for upper          
        if new_text != '':
            clean_data.append(new_text)
    return clean_data

# snowball = SnowballStemmer(language = 'english')
# def stemming(words):
#     new = []
#     stem_words = [snowball.stem(x) for x in (words[:][0])]
#     new.append(stem_words)
#     return new

lemmatizer = WordNetLemmatizer() 
def lemmatization(words):
    new = []
    lem_words = [lemmatizer.lemmatize(x) for x in (words[:][0])]
    new.append(lem_words)
    return new

ModuleNotFoundError: No module named 'nltk'

In [8]:
df = pd.read_csv("selenium dataset/B2Bitems1janto20march.csv", dtype='unicode')
df = df.item_name.head(10)
df.to_csv (r'C:\Users\TheLorry\Documents\Python Scripts\selenium dataset\10itemName.csv', index = False, header=True)